@page "/"
@implements IDisposable
@using MudBlazor
@using WMS.Application.Stocks.Request
@using WMS.Application.Stocks.Response
@using System.Net.Http.Json
@using WMS.Client.Responses
@using WMS.Client.Services
@inject HttpClient Http
@inject ISnackbar Snackbar
@inject ClientService ClientService
@inject ILogger<Home> Logger

<MudThemeProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<PageTitle>WMS Dashboard</PageTitle>

<h3>Receive New Stock</h3>
<EditForm Model="_receiveStockRequest" OnValidSubmit="HandleSubmit" FormName="ReceiveStockForm">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Product Name:</label>
        <MudAutocomplete T="string" 
                         @bind-Value="_receiveStockRequest.ProductName" 
                         SearchFunc="@SearchProductNames"
                         ResetValueOnEmptyText="true"
                         CoerceText="true" 
                         CoerceValue="true"
                         Placeholder="Enter or select a product name..."
                         Variant="Variant.Outlined" 
                         Margin="Margin.Dense" />
        <ValidationMessage For="@(() => _receiveStockRequest.ProductName)" class="text-danger" />
    </div>

    <div class="mb-3">
        <label>Location Code:</label>
        <MudAutocomplete T="string" 
                         @bind-Value="_receiveStockRequest.LocationCode" 
                         SearchFunc="@SearchLocations"
                         ResetValueOnEmptyText="true"
                         CoerceText="true" 
                         CoerceValue="true"
                         Placeholder="Enter or select a location..."
                         Variant="Variant.Outlined" 
                         Margin="Margin.Dense" />
        <ValidationMessage For="@(() => _receiveStockRequest.LocationCode)" class="text-danger" />
    </div>

    <div class="mb-3">
        <label>Quantity:</label>
        <InputNumber @bind-Value="_receiveStockRequest.Quantity" class="form-control" />
        <ValidationMessage For="@(() => _receiveStockRequest.Quantity)" class="text-danger" />
    </div>

    <button type="submit" class="btn btn-primary">Receive Stock</button>
</EditForm>

<hr />

<h1>Current stock level</h1>

@if (_stocksResponse == null)
{
        <p><em>Loading warehouse data...</em></p>
}
else if (!_stocksResponse.Any())
{
        <p>Warehouse is empty.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Location Code</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var stock in _stocksResponse)
        {
            <tr>
                <td>@stock.ProductName</td>
                <td>@stock.LocationCode</td>
                <td>@stock.Quantity</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<StockResponse>? _stocksResponse;

    [SupplyParameterFromForm]
    private ReceiveStockRequest _receiveStockRequest { get; set; } = new();

    private List<string> _availableLocations = new();
    private List<string> _availableProductNames = new();
    private readonly CancellationTokenSource _cts = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadStocksAsync();
        _availableProductNames = await ClientService.GetListAsync<string>("api/products/names", _cts.Token);
        _availableLocations = await ClientService.GetListAsync<string>("api/warehouseLocations/locations", _cts.Token);
    }

    private Task<IEnumerable<string>> SearchProductNames(string value, CancellationToken token)
    {
        if (string.IsNullOrEmpty(value))
            return Task.FromResult<IEnumerable<string>>(_availableProductNames);

        var filteredList = _availableProductNames.Where(x => x.Contains(value, StringComparison.OrdinalIgnoreCase));
        return Task.FromResult<IEnumerable<string>>(filteredList);
    }

    private Task<IEnumerable<string>> SearchLocations(string value, CancellationToken token)
    {
        if (string.IsNullOrEmpty(value))
            return Task.FromResult<IEnumerable<string>>(_availableLocations);

        var filteredList = _availableLocations.Where(x => x.Contains(value, StringComparison.OrdinalIgnoreCase));
        return Task.FromResult<IEnumerable<string>>(filteredList);
    }

    private async Task LoadStocksAsync()
    {
        _stocksResponse = await ClientService.GetListAsync<StockResponse>("api/stocks/summary", _cts.Token);
    }

    private async Task HandleSubmit()
    {
        var isSuccess = await ClientService.PostAsync("api/stocks/receive", _receiveStockRequest, _cts.Token);

        if (isSuccess)
        {
            _receiveStockRequest = new ReceiveStockRequest();
            await LoadStocksAsync();
            Snackbar.Add("Stock added successfully!", Severity.Success);
        }
    }

    public void Dispose()
    {
        _cts.Cancel();
        _cts.Dispose();
    }
}