@page "/"
@implements IDisposable
@using MudBlazor
@using WMS.Application.Stocks.Request
@using WMS.Application.Stocks.Response
@using WMS.Client.Services
@using WMS.Client.Services.Interfaces
@inject UiUtilityService UiUtilityService
@inject ISnackbar Snackbar
@inject IStockService StockService
@inject IProductService ProductService
@inject IWarehouseLocationService WarehouseLocationService

<MudThemeProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<PageTitle>WMS Dashboard</PageTitle>

<h3>Receive New Stock</h3>
<EditForm Model="_receiveStockRequest" OnValidSubmit="HandleSubmit" FormName="ReceiveStockForm">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Product Name:</label>
        <MudAutocomplete T="string" 
                         @bind-Value="_receiveStockRequest.ProductName" 
                         SearchFunc="@SearchProductNames"
                         ResetValueOnEmptyText="true"
                         CoerceText="true" 
                         CoerceValue="true"
                         Placeholder="Enter or select a product name..."
                         Variant="Variant.Outlined" 
                         Margin="Margin.Dense" />
        <ValidationMessage For="@(() => _receiveStockRequest.ProductName)" class="text-danger" />
    </div>

    <div class="mb-3">
        <label>Location Code:</label>
        <MudAutocomplete T="string" 
                         @bind-Value="_receiveStockRequest.LocationCode" 
                         SearchFunc="@((value, token) => UiUtilityService.FilterLocationCodes(_availableLocations, value))"
                         ResetValueOnEmptyText="true"
                         CoerceText="true" 
                         CoerceValue="true"
                         Placeholder="Enter or select a location..."
                         Variant="Variant.Outlined" 
                         Margin="Margin.Dense" />
        <ValidationMessage For="@(() => _receiveStockRequest.LocationCode)" class="text-danger" />
    </div>

    <div class="mb-3">
        <label>Quantity:</label>
        <InputNumber @bind-Value="_receiveStockRequest.Quantity" class="form-control" />
        <ValidationMessage For="@(() => _receiveStockRequest.Quantity)" class="text-danger" />
    </div>

    <button type="submit" class="btn btn-primary">Receive Stock</button>
</EditForm>

<hr />

<h1>Current stock level</h1>

@if (_stocksResponse == null)
{
    <p><em>Loading warehouse data...</em></p>
}
else if (!_stocksResponse.Any())
{
    <p>Warehouse is empty.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Location Code</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var stock in _stocksResponse)
        {
            <tr>
                <td>@stock.ProductName</td>
                <td>@stock.LocationCode</td>
                <td>@stock.Quantity</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private IEnumerable<StockResponse>? _stocksResponse;

    [SupplyParameterFromForm]
    private ReceiveStockRequest _receiveStockRequest { get; set; } = new();

    private IEnumerable<string>? _availableLocations;
    private IEnumerable<string>? _availableProductNames;
    private readonly CancellationTokenSource _cts = new();

    protected override async Task OnInitializedAsync()
    {
        _stocksResponse = await StockService.GetSummaryAsync(_cts.Token);
        _availableProductNames = await ProductService.GetNamesAsync(_cts.Token);
        _availableLocations = await WarehouseLocationService.GetCodesAsync(_cts.Token);
    }

    private Task<IEnumerable<string>> SearchProductNames(string value, CancellationToken token)
    {
        if (_availableProductNames == null)
            return Task.FromResult<IEnumerable<string>>(Array.Empty<string>());

        if (string.IsNullOrEmpty(value))
            return Task.FromResult<IEnumerable<string>>(_availableProductNames);

        var filteredList = _availableProductNames.Where(x => x.Contains(value, StringComparison.OrdinalIgnoreCase));
        return Task.FromResult<IEnumerable<string>>(filteredList);
    }

    private async Task HandleSubmit()
    {
        var isSuccess = await StockService.ReceiveAsync(_receiveStockRequest, _cts.Token);

        if (isSuccess)
        {
            _receiveStockRequest = new ReceiveStockRequest();
            _stocksResponse = await StockService.GetSummaryAsync(_cts.Token);
            Snackbar.Add("Stock added successfully!", Severity.Success);
        }
    }

    public void Dispose()
    {
        _cts.Cancel();
        _cts.Dispose();
    }
}