@page "/stocks/move"
@implements IDisposable
@using MudBlazor
@using WMS.Application.Products.Response
@using WMS.Application.Stocks.Request
@using WMS.Application.Stocks.Response
@using WMS.Client.Services
@using WMS.Client.Services.Interfaces
@inject UiUtilityService UiUtilityService
@inject ISnackbar Snackbar
@inject IStockService StockService
@inject IProductService ProductService
@inject IWarehouseLocationService WarehouseLocationService

<MudThemeProvider />
<MudSnackbarProvider />
<MudPopoverProvider />

<MudCard Elevation="3">
    <MudCardHeader>
        <CardHeaderContent>
            <MudText Typo="Typo.h5">Internal Stock Transfer</MudText>
        </CardHeaderContent>
    </MudCardHeader>

    <MudCardContent>
        <div class="mb-3">
            <MudTextField @bind-Value="_moveStockRequest.SearchTerm" 
                          Label="Enter Product SKU or Name" 
                          Variant="Variant.Outlined" 
                          Margin="Margin.Dense" 
                          Immediate="true"
                          OnKeyDown="HandleFindProductKeyPress" />

            <MudButton Class="mt-3" Variant="Variant.Filled" Color="Color.Secondary" OnClick="FindProduct">
                Find Product
            </MudButton>
        </div>

        @if (_searchProduct != null)
        {
                <MudDivider Class="my-4" />

                <MudText Typo="Typo.subtitle1" Color="Color.Success" Class="mb-3">
                    Product found: @_searchProduct.Name (@_searchProduct.Sku)
                </MudText>

                <EditForm Model="_moveStockRequest" OnValidSubmit="TransferProduct" FormName="AddTransferForm">
                    <DataAnnotationsValidator />

                    <div class="mb-3">
                        <label>Source Location Code:</label>
                            <MudAutocomplete T="StockResponse" 
                                         Value="_selectedSourceStock"
                                         ValueChanged="OnStockSelected"
                                         SearchFunc="@SearchLocationsBySku"
                                         ToStringFunc="@(stock => stock?.LocationCode)" 
                                         ResetValueOnEmptyText="true"
                                         CoerceText="true" 
                                         CoerceValue="true"
                                         Placeholder="Enter or select a source location code..."
                                         Variant="Variant.Outlined" 
                                         Margin="Margin.Dense">

                            <ItemTemplate Context="stock">
                                <div class="d-flex justify-space-between" style="width: 100%; gap: 20px;">
                                    <MudText>@stock.LocationCode</MudText>
                                    <MudText Color="Color.Success">Available: <b>@stock.Quantity</b> pcs.</MudText>
                                </div>
                            </ItemTemplate>
                        </MudAutocomplete>
                        <ValidationMessage For="@(() => _moveStockRequest.SourceLocationCode)" class="text-danger" />
                    </div>

                    <div class="mb-3">
                        <label>Quantity to Transfer:</label>
                        <MudNumericField @bind-Value="_moveStockRequest.Quantity"
                                         Min="1"
                                         Max="@(_selectedSourceStock?.Quantity ?? int.MaxValue)"
                                         Disabled="@(_selectedSourceStock == null)"
                                         Variant="Variant.Outlined" 
                                         Margin="Margin.Dense"
                                         Adornment="Adornment.End"
                                         AdornmentText="@(_selectedSourceStock != null ? $"Max: {_selectedSourceStock.Quantity} pcs." : "")" />
                        <ValidationMessage For="@(() => _moveStockRequest.Quantity)" class="text-danger" />
                    </div>

                    <div class="mb-3">
                        <label>Destination Location Code:</label>
                        <MudAutocomplete T="string"
                                         @bind-Value="_moveStockRequest.DestinationLocationCode"
                                         SearchFunc="@((value, _) => UiUtilityService.FilterLocationCodes(_availableLocationCodes, value))"
                                         Placeholder="Enter or select a destination location code..."
                                         Variant="Variant.Outlined" 
                                         Margin="Margin.Dense">
                        </MudAutocomplete>
                        <ValidationMessage For="@(() => _moveStockRequest.DestinationLocationCode)" class="text-danger" />
                    </div>

                    <MudButton ButtonType="ButtonType.Submit" Class="mt-4" Variant="Variant.Filled" Color="Color.Primary">
                        Transfer Product
                    </MudButton>
                </EditForm>
        }
    </MudCardContent>
</MudCard>

@code {
    [SupplyParameterFromForm]
    private MoveStockRequest _moveStockRequest { get; set; } = new();

    private ProductResponse? _searchProduct;
    private StockResponse? _selectedSourceStock;
    private IEnumerable<StockResponse>? _availableStocks;
    private IEnumerable<string>? _availableLocationCodes;

    private readonly CancellationTokenSource _cts = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadLocationsAsync();
    }

    private async Task LoadLocationsAsync()
    {
        _availableLocationCodes = await WarehouseLocationService.GetCodesAsync(_cts.Token);
    }

    private async Task HandleFindProductKeyPress(KeyboardEventArgs e)
    {
        if (e.Key == "Enter" || e.Key == "NumpadEnter")
        {
            await FindProduct();
        }
    }

    private async Task FindProduct()
    {
        if (string.IsNullOrWhiteSpace(_moveStockRequest.SearchTerm)) return;

        _searchProduct = await ProductService.GetBySkuOrNameAsync(_moveStockRequest.SearchTerm, _cts.Token);

        if (_searchProduct != null)
        {
            await LoadStocksAsync();
        }
        else
        {
            _availableStocks = null;
            _selectedSourceStock = null;
            Snackbar.Add("Product not found", Severity.Warning);
        }
    }

    private async Task LoadStocksAsync()
    {
        if (_searchProduct == null || string.IsNullOrWhiteSpace(_searchProduct.Sku))
            return;

        _availableStocks = await StockService.SearchBySkuAsync(_searchProduct.Sku, _cts.Token);
        _moveStockRequest.ProductSku = _searchProduct.Sku;
    }

    private Task<IEnumerable<StockResponse>> SearchLocationsBySku(string value, CancellationToken token)
    {
        if (_availableStocks == null)
            return Task.FromResult<IEnumerable<StockResponse>>(Array.Empty<StockResponse>());

        if (string.IsNullOrEmpty(value))
            return Task.FromResult<IEnumerable<StockResponse>>(_availableStocks);

        var filteredList = _availableStocks
            .Where(x => x.LocationCode != null && x.LocationCode.Contains(value, StringComparison.OrdinalIgnoreCase));

        return Task.FromResult<IEnumerable<StockResponse>>(filteredList);
    }

    private void OnStockSelected(StockResponse stock)
    {
        _selectedSourceStock = stock;
        _moveStockRequest.SourceLocationCode = stock?.LocationCode ?? string.Empty;

        if (string.Equals(_moveStockRequest.DestinationLocationCode, _moveStockRequest.SourceLocationCode, StringComparison.OrdinalIgnoreCase))
        {
            _moveStockRequest.DestinationLocationCode = string.Empty;
        }

        if (_moveStockRequest.Quantity <= 0 && stock != null && stock.Quantity > 0)
        {
            _moveStockRequest.Quantity = 1;
        }

        if (stock != null && _moveStockRequest.Quantity > stock.Quantity)
        {
            _moveStockRequest.Quantity = stock.Quantity;
        }
    }

    private async Task TransferProduct()
    {
        var isSuccess = await StockService.MoveAsync(_moveStockRequest, _cts.Token);

        if (isSuccess)
        {
            await LoadStocksAsync();
            _moveStockRequest = new MoveStockRequest();
            _searchProduct = null;
            _selectedSourceStock = null;
            _availableStocks = null;
            Snackbar.Add("Stock transferred successfully!", Severity.Success);
        }
    }

    public void Dispose()
    {
        _cts.Cancel();
        _cts.Dispose();
    }
}